/* All Tags Outline */
* {
    /* outline: 1px solid red; */
}

/*-- Root Section -- */
:root {

    /* Color Scheme */
    --color-aside-bg: #051e34;
    --color-header-bg: #f8f9fa;
    --color-main-bg: #f8f9fa;
    --color-main-head-bg: #1b72e8;

    --color-table-icons: #6c757d;

    /* Header Bar Section */
    --my-header-h: 60px;

    /* Aside Bar Section */
    --my-aside-w: 80px;
    --my-aside-w-1200px: 160px;

    /* Main Content */
    --my-main-header-h: 140px;
    --my-main-header-h-576px: 200px;
}

/* -- CSS Begin -- */

::selection {
    background-color: rgba(32, 32, 32, 0.1);
}

img {
    width: 100%;
    height: auto;
    display: block;
}

ul, a {
    text-decoration: none;
    list-style: none;
}

span {
    display: block;
}

.my_overflow-text {
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    /* Header Bar Section */
    .my_header {
        height: var(--my-header-h);
        background-color: var(--color-header-bg);
        width: 100%;
    }
    .nav-bar {
        height: 100%;
        align-items: center;
    }
        .my_logo-section {
            flex: 1 1 15%;
            padding: 0 1rem;
        }
        .my_logo-section > img {
            object-fit: contain;
            height: 38px;
        }
        .my_search-bar {
            flex: 2 1 70%;
        }
        .my_user-list-container {
            flex: 1 1 15%;
            height: 38px;
        }

        .my_logo-section,
        .my_search-bar,
        .my_user-list-container {
            background-color: white;
        }
        /* DropDown Section */
            .dropdown-toggle::after {
                display: none;
            }
            .my_btn-dropdown {
                color: #ff8f00;
                background-color: transparent;
                border: none;
                padding: 0;
            }
            .my_btn-dropdown:hover {
                color: #ffc107;
                background-color: transparent;
                border: none;
                padding: 0;
            }


        /* Search Bar */
        .has-search .form-control {
            padding-left: 2.375rem;
            background-color: #e5e5e5;
        }
        
        .has-search .form-control-serch-icon {
            position: absolute;
            z-index: 2;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: black;
        }

        /* User BTN Section */
        .my_user-btn-list {
            align-items: center;
            justify-content: center;
        }
            


        /* Custom Media Querys */
        @media screen and (min-width: 568px) {
            .my_logo-section {
                flex: 1 1 10%;
            }
            .my_search-bar {
                flex: 2 1 80%;
            }
            .my_user-list-container {
                padding: 0 1rem;
                flex: 1 1 10%;
            }    
        }
        @media screen and (min-width: 1200px) {
            .my_user-btn-list {
                align-items: center;
                justify-content: space-between;
            }
            .my_logo-container {
                align-items: center;
                width: 100%;
            }
        }

    /* Aside Bar Section */
    .my_aside {
        height: calc(100vh - var(--my-header-h));
        width: var(--my-aside-w);
        background-image: url(../img/sidebar-bg.png);
        background-color: var(--color-aside-bg);
    }
        .my_as-list-item {
            color: white;
            font-size: 1.2rem;
        }
        .my_admin-panel {
           margin-top: 5rem; 
           display: flex;
           justify-content: center;
        }

        /* Custom Media Querys */
        @media screen and (min-width: 1200px){
            .my_aside {
                width: var(--my-aside-w-1200px);
            }
            .my_admin-panel {
                justify-content: flex-start;
            }
            #my_btn-home,
            #my_btn-signals,
            #my_btn-admin {
                padding-left: 0.6rem;
            }
            #my_btn-stats {
                padding-left: 1rem; 
            }
        }

    /* Main Content */
    .my_main {
        height: calc(100vh - var(--my-header-h));
        width: calc(100% - var(--my-aside-w));
        background-color: var(--color-main-bg);
        overflow-y: scroll;
    }
        .my_header-main {
            background-color: var(--color-main-head-bg); 
            padding: 2rem 0 3rem;
        }
            .offcanvas.offcanvas-end {
                width: 100%;
            }
        .my_current_plan {
            font-size: 0.8rem;
        }
        
        .my_main_cards {
            margin-top: 2rem;
        }
        
        /* Table Section */
        .my_c-avatar-container {
            width: 35px;
        }
        .my_action-btn {
            color: var(--color-table-icons);
            border: 1px solid var(--color-table-icons);
            padding: 0.275rem 0.5rem;
        }

        /* Custom Media Querys */
        @media screen and (min-width: 1200px){
            .my_main {
                width: calc(100% - var(--my-aside-w-1200px));
            }
            .my_header-main {
                padding: 2rem 0 2rem;
            }    
            .offcanvas.offcanvas-end {
                width: 50%;
            }
            .my_offset-cell {
                width: 7rem;
            }
        }